@charset "UTF-8";
/* Tema claro */
[data-theme="light"] {
  --font-family: “Roboto”, sans-serif;
  --background-color: #f0f0f0;
  --text-color: #333333;
  --button-background-primary: #9ab3f5;
  --button-hover-background-primary: #7f99e6;
  --button-background-secondary: #f0f0f0;
  --button-hover-background-secondary: #e0e0e0;
  --primary-color: #9ab3f5;
  --primary-color-light: #b4c6fa;
  --secondary-color: #ff9a9a;
  --tertiary-color: #ffe29a; }

/* Tema escuro */
[data-theme="dark"] {
  --font-family: “Roboto”, sans-serif;
  --background-color: #10002b;
  --text-color: #f9f9f9;
  --button-background-primary: #9ab3f5;
  --button-hover-background-primary: #7f99e6;
  --button-background-secondary: #10002b;
  --button-hover-background-secondary: #1c0d3a;
  --primary-color: #9ab3f5;
  --primary-color-light: #b4c6fa;
  --secondary-color: #ff7d7d;
  --terciary-color: #ffc77d; }

.logo {
  text-decoration: none; }
  .logo > h1 {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(3.2rem, 3vw, 4rem);
    flex-wrap: wrap; }
  @media only screen and (max-width: 286px) {
    .logo {
      width: 7rem;
      padding: 0;
      margin: 0;
      font-size: clamp(2.8rem, 3vw, 4rem); } }
  @media (min-width: 720px) {
    .logo {
      margin: 0 0 0 1rem; } }
