@import "../../styles/theme.scss";

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);

  .form {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgb(172, 171, 171);

    &__group {
      display: flex;
      margin: 0.5rem 0;
      flex-direction: column;
    }

    &__group > label {
      color: var(--text-color);
      font-weight: 700;
      font-size: clamp(1.6rem, 1.6vw, 2.5rem);
    }

    &__group > input {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: none;
      border-radius: 0.5rem;
      font-size: clamp(1.6rem, 1.6vw, 2.5rem);
      color: var(--text-color);
      background-color: var(--background-color);
      border: 1px solid;

      &::placeholder {
        color: var(--text-color);
      }
    }

    &__or {
      .divider {
        margin: 10px 0;
        text-align: center;
        position: relative;
      }

      .divider span {
        padding: 0 10px;
        color: gray;
      }

      .divider:before,
      .divider:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 40%;
        height: 1px;
        background-color: gray;
      }

      .divider:before {
        left: 0;
      }

      .divider:after {
        right: 0;
      }

      #signInDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
        margin-bottom: 0.8rem;
        padding: 0.8rem;

      }
    }

    &__error {
      display: block;
      color: var(--text-color);
      font-weight: 700;
      text-decoration: underline red;
    }

    &__swap {
      color: var(--text-color);
      font-weight: 600;
      & a {
        color: var(--text-color);
      }
    }

    &__button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 0.8rem;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
      color: var(--text-color-dark);
      background-color: var(--button-background-primary);
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: var(--button-hover-background-primary);
      }
    }
  }
}
