$font-roboto: "Roboto", sans-serif;
$white: #f9f9f9;
$gray: #ecebeb;
$purple-light: #c77dff;
$purple-medium: #9d4edd;
$purple-dark: #6a4c93;
$black: #10002b;
$green-color: #4edda0;
$orange-color: #ff7d7d;
