@charset "UTF-8";
/* Tema claro */
[data-theme="light"] {
  --font-family: “Roboto”, sans-serif;
  --background-color: #f0f0f0;
  --text-color: #333333;
  --button-background-primary: #9ab3f5;
  --button-hover-background-primary: #7f99e6;
  --button-background-secondary: #f0f0f0;
  --button-hover-background-secondary: #e0e0e0;
  --primary-color: #9ab3f5;
  --primary-color-light: #b4c6fa;
  --secondary-color: #ff9a9a;
  --tertiary-color: #ffe29a; }

/* Tema escuro */
[data-theme="dark"] {
  --font-family: “Roboto”, sans-serif;
  --background-color: #10002b;
  --text-color: #f9f9f9;
  --button-background-primary: #9ab3f5;
  --button-hover-background-primary: #7f99e6;
  --button-background-secondary: #10002b;
  --button-hover-background-secondary: #1c0d3a;
  --primary-color: #9ab3f5;
  --primary-color-light: #b4c6fa;
  --secondary-color: #ff7d7d;
  --terciary-color: #ffc77d; }

.search {
  display: flex;
  position: relative;
  background-color: #fff;
  align-items: center;
  border-radius: 0.5rem;
  height: 5rem;
  border: 1px solid var(--button-background-primary);
  margin-bottom: 2rem; }
  .search :first-child {
    width: 5rem;
    fill: var(--button-background-primary); }
  .search input {
    border: none;
    width: 100%;
    outline: none;
    height: 2rem;
    padding: 1.5rem; }
  .search .reset-button {
    position: absolute;
    font-size: 2.5rem;
    right: 8px;
    /* Ajuste a posição conforme necessário */
    top: 57%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer; }
  @media (min-width: 720px) {
    .search {
      margin: 0 auto;
      height: 3.5rem;
      align-items: center; }
      .search > input {
        width: 50vw; } }
