@charset "UTF-8";
/* Tema claro */
[data-theme="light"] {
  --font-family: “Roboto”, sans-serif;
  --background-color: #f0f0f0;
  --text-color: #333333;
  --button-background-primary: #9ab3f5;
  --button-hover-background-primary: #7f99e6;
  --button-background-secondary: #f0f0f0;
  --button-hover-background-secondary: #e0e0e0;
  --primary-color: #9ab3f5;
  --primary-color-light: #b4c6fa;
  --secondary-color: #ff9a9a;
  --tertiary-color: #ffe29a; }

/* Tema escuro */
[data-theme="dark"] {
  --font-family: “Roboto”, sans-serif;
  --background-color: #10002b;
  --text-color: #f9f9f9;
  --button-background-primary: #9ab3f5;
  --button-hover-background-primary: #7f99e6;
  --button-background-secondary: #10002b;
  --button-hover-background-secondary: #1c0d3a;
  --primary-color: #9ab3f5;
  --primary-color-light: #b4c6fa;
  --secondary-color: #ff7d7d;
  --terciary-color: #ffc77d; }

.nav {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: 1.5rem;
  border-top: 1px solid #c8c2c2;
  background-color: var(--background-color); }
  .nav > a {
    text-decoration: none;
    color: var(--primary-color); }
    .nav > a > li {
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      flex-direction: column; }
      .nav > a > li > svg {
        font-size: 2rem; }
      .nav > a > li > span {
        font-size: clamp(1.2rem, 1.5vw, 2.5rem); }
  @media (min-width: 720px) {
    .nav {
      position: absolute;
      height: 5rem;
      top: 4%;
      left: 35%;
      max-width: clamp(35rem, 55vw, 55rem);
      background-color: transparent;
      border: none; }
      .nav > a > li > svg {
        display: none; }
      .nav > a > li > span {
        font-size: clamp(2rem, 2vw, 3rem); } }
